

<% content_for :title, "Guardians" %>

<h1>Guardian</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email Address</th>
      <th>Contact Number</th>
      <th>Number of Studentst</th>
    </tr>
  </thead>
  <tbody>
    <% @guardians.each do | guradian | %>
      <tr>
        <td><%= guradian.name %></td>
        <td><%= guradian.email_address %></td>
        <td><%= guradian.contact_number %></td>
        <td><%= guradian.number_of_students %></td>
        <td><%= link_to " Show this guardian ", guardian %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New guardian", new_guardian_path %>
