

<<<<<<< Updated upstream
<% content_for :title, "Sections" %>

<h1>Sections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Room</th>
      <th>Time Slot</th>
      <th>Subject</th>
    </tr>
  </thead>
  <tbody>
    <% @sections.each do | section | %>
      <tr>
        <td><%= section.name %></td>
        <td><%= section.room %></td>
        <td><%= section.time_slot %></td>
        <td><%= section.subject.name %></td>
        <td><%= link_to " Show this section ", section %></td>
=======
.btn-gxyy:hover {
  background-color: black;
  color: #ffce1b;
  transform: scale(1.05);
}

.btn-des {
  background-color: #ff4747;
  color: white;
  border: none;
  padding: 6px 6px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.btn-des:hover {
  background-color: black;
  color: #ff4747;
  transform: scale(1.05);
}

.btn-gxgg {
  background-color: #ffce1b;
  color: black;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.btn-gxgg:hover {
  background-color: black;
  color: #ffce1b;
  transform: scale(1.05);
}

.table {
  background-color: #000;
  color: #ffce1b;
  border: 1px solid #ffce1b;
  text-align: center;
  vertical-align: middle;
}

.table th {
  background-color: #1a1a1a;
  color: #ffd700;
  font-weight: bold;
  border-bottom: 2px solid #ffce1b;
}

.table td {
  border-color: #333;
}

.table tr:hover {
  background-color: #111;
  color: #ffd700;
  transition: 0.2s;
}
</style>

<h1 class="page-title text-center" style="background-color: #ffce1b; color: black;">SECTION</h1>

<div class="text-center">
  <table class="table table-light table-striped table-hover">
    <thead>
      <tr class="table table-dark">
        <th style="color: #ffce1b;">Name</th>
        <th style="color: #ffce1b;">Room</th>
        <th style="color: #ffce1b;">Time Slot</th>
        <th style="color: #ffce1b;">Subject</th>
        <th></th>
        <th></th>
        <th></th>
>>>>>>> Stashed changes
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New section", new_section_path %>
